<!DOCTYPE html>
<html lang="en"/>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/src/css/style.css"/>
    <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/scripts/font-mfizz/dist/font-mfizz.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>WebCoder</title>
</head>
<body>
    {{> header}}

    <div class="container">
        <div class="row">
            <main class="main col col-md-9">
                <div class="main__title">
                    <h1 class="">Recent Posts</h1>
                </div>
                {{#if recentPosts}}
                    <div class="row">
                        {{#each articles_first_row}}
                            <div class="col col-sm-4">
                                <article class="articles">
                                    <div class="img-scale">
                                        <img src="{{this.urlImg}}" alt="">
                                    </div>
                                    <h1>{{this.title}}</h1>
                                    <p>{{this.paragraph}}</p>
                                    <button class="btn">Read More</button>
                                </article>
                            </div>
                        {{/each}}
                    </div>

                    <div class="row">
                        {{#each articles_second_row}}
                            <div class="col col-sm-4">
                                <article class="articles">
                                    <div class="img-scale">
                                        <img src="{{this.urlImg}}" alt="">
                                    </div>
                                    <h1>{{this.title}}</h1>
                                    <p>{{this.paragraph}}</p>
                                    <button class="btn">Read More</button>
                                </article>
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <h1 class="noposts">No posts to show</h1>
                {{/if}}
            </main>
  
            {{> aside}}
        </div>
    </div>
    {{> footer}}


    <script src="/src/js/script.js"></script>
</body>
</html>
