<div class="content">
    <div class="row">
        <main class="main col col-md-9">
            <div class="main__title">
                <h1 class="">Recent Posts</h1>
            </div>

            {{#if recentPosts}}
                <div class="row">
                    {{#each articles}}
                        <div class="col col-sm-6 col-md-4">
                            <article class="articles">
                                <div class="img-scale">
                                    <a href="/posts/view/{{id}}"><img style="cursor:pointer;" src="{{this.coverPhoto}}" alt=""></a>
                                </div>
                                <h1>{{this.title}}</h1>
                                <p class="article__description">{{this.description}}</p>
                                <a href="/posts/view?p={{id}}"><button style="cursor:pointer;" class="btn">Read More</button></a>
                            </article>
                        </div>
                    {{/each}}
                </div>
            {{else}}
                <h1 class="noposts">No posts to show</h1>
            {{/if}}
        </main>

        {{> home/home-aside}}
    </div>
</div>
<script>
    const descriptions = [...document.querySelectorAll('.article__description')];
    const greaterThan = descriptions.filter(el => el.textContent.length > 75);

    greaterThan.forEach(el => 
        (el.textContent = el.textContent.slice(null, 75) + '...')
    );
    

</script>