<div class="content">
    <div class="main__title">
        <h1 id="title">Dashboard</h1>
    </div>
    
    <main>
        <div class="row">
            <div class="col-12 col-sm-5 col-md-3 offset-md-1 offset-sm-3 posts__counter">
                <h1>Posts</h1> 
                <span>
                    {{#if totalPosts}}
                        {{totalPosts}}
                    {{else}}
                        --
                    {{/if}}
                </span>
            </div>
        </div>
        
        <div class="row">
            <div class="col-11 latest__post">
                <h1>Latest Post</h1>
                <div class="card row">
                    {{#if post.latestPost}}
                        <div class="card__img col-12 col-md-3"><img src="{{post.thumb}}" alt=""></div>
                        <div class="card__content col-12 col-md-8">
                            <a class="card__title" href="/posts/view?p={{post.id}}"><h1>{{post.title}}</h1></a>
                            <p class="card__description">{{post.description}}...</p>
                        </div>
                    {{else}}
                        <h3>No post to show.</h3>
                    {{/if}}
                </div>
            </div>
        </div>
    </main>
</div>

